
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Krona One', Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	color: #222;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.load-pending {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.loader {
	margin: 10px;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	border: 2px solid transparent;
	border-top-color: rgba(#333, 0.9);
	border-left-color: rgba(#333, 0.7);
	border-bottom-color: rgba(#333, 0.3);
	border-right-color: rgba(#333, 0.1);
	animation: spin 1s forwards linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg)
	}

	50% {
		transform: rotate(180deg)
	}

	100% {
		transform: rotate(359deg);
	}
}

@import "./fa/all.css";